
extends layout
block content
  h1= title
  p Welcome to #{title} Nodejs Demo Application
  .image
      img(src="https://www.cloudfoundry.org/wp-content/uploads/2017/01/CFF_Logo_vertical_RGB.png", alt="cloud foundry logo")
  a(href="https://cloudfoundry.org") Cloud Foundry Website
  a(href="/test") Test Page