body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  display: grid;
  place-items: center;
}

p {
  display: grid;
  place-items: center;
}

a {
  padding-top: 10px;
  color: #00B7FF;
  display: grid;
  place-items: center;
}

img {
  width: 500px;
  padding-top: 10px;
}

.image {
  display: grid;
  place-items: center;
}